.navbar > div {
  justify-content: center !important;
  @media screen and (min-width: 286px) {
    justify-content: space-between !important;
  }
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.navbar{
  background: linear-gradient(to right, #000046, #1cb5e0) !important;
}

#navbarHeader{
  background: linear-gradient(to right, #000046, #1cb5e0) !important ;
}

.bienvenidaPag{
  height: 250px;
  background-image: url(/public/fondo2.jpg);
  background-repeat: no-repeat; 
  background-size: cover; 
  opacity: 10;
}

.py-5{
  padding: 0px !important;
}

.album{
  background-color: rgb(248, 249, 250)  !important;
  opacity:1; 
  background-image: url(/public/fondo1.webp);
  object-fit: cover;
  z-index: 999999;
}

.btn{
  background: linear-gradient(to right, #000046, #1cb5e0) !important ;
}

.btn:hover{
  background: linear-gradient(to left, #000046, #1cb5e0)  !important;
  transition: all .3s  !important;
}

.card{
  position: relative;
  background-clip: text;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
  border-radius: 22px;
}

.bd-placeholder-img{
  background-clip: text;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5) !important;
  border-radius: 22px;
}

.hero_ver_carrito_cuenta {
  color: black;
  font-weight: 700;
  background-color: white;
  outline: 2px solid black;
  border-radius: 50%;
  display: none;
  width: 26px;
  height: 26px;
}
.modal-body {
  display: flex;
  gap: 5px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}
.modal-card {
  box-sizing: border-box;
  position: relative;
  width: 100px;
  border: 1px solid black;
  border-radius: 5px;
}
.modal-card img {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}
.modal-card p {
  border-top: 1px solid black;
  text-align: center;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 0;
}
.modal_card_delete {
  position: absolute;
  top: -6px;

  right: -4px;
  background-color: white;
  height: 15px;
  width: 15px;
  font-size: 16px;
  cursor: pointer;
}

/* contenido css de las tarjetas*/
.card_producto_precio {
  text-align: center;
}
.card_producto_precio span {
  font-weight: bold;
  font-size: 1.5rem;
}
.card_producto_descripcion {
  text-align: center;
  font-size: 1.5rem;
}
.card-img-top {
  width: 100%;
  aspect-ratio: 1/1;
  max-width: 250px;
}